/* ===== CARD ===== */
.card {
  background: var(--card);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

/* ===== PROFILE ===== */
.profile {
  display: flex;
  gap: 15px;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile h2 {
  margin: 0;
}

.badge {
  background: var(--primary);
  color: white;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}

.stats {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.stat-box {
  flex: 1;
  background: var(--bg);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

/* ===== SWITCH MODE ===== */
.switch-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: linear-gradient(135deg, #00c6ff, #0072ff, #a100ff);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  /* Brightens the existing colors */
  filter: brightness(1.1);
  /* Adds a slight inner border effect */
  outline: 2px solid rgba(255, 255, 255, 0.3);
  outline-offset: -4px;
}

.bth:hover{
background:#6d1fff;
transform:scale(1.05);
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* ===== MENU ===== */
.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
}

.menu-item:last-child {
  border-bottom: none;
}
.arrow{
  text-align: right;
}

/* ===== TOGGLE ===== */
.toggle {
  width: 50px;
  height: 25px;
  background: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.toggle-circle {
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  top: 2.5px;
  left: 3px;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle.active {
  background: purple;
}

.toggle.active .toggle-circle {
  left: 26px;
}

/* ===== LOGOUT ===== */
.logout {
  background: #ffdede;
  text-align: center;
  color: red;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}


/* ===== RESPONSIVE ===== */
@media (max-width:500px) {
  .container {
    max-width: 420px;
  }
}
